<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.bm.goodsCodeAdmMapper">

	<resultMap id="GoodsCodeAdmVo" type="mes.domain.bm.GoodsCodeAdmVo">
		<result property="goodsCd"			column="GOODS_CD"			/>
		<result property="goodsNm"			column="GOODS_NM"			/>
		<result property="model"			column="MODEL"				/>
		<result property="modelNo"			column="MODEL_NO"			/>
		<result property="alnicuMatrlCd"	column="ALNICU_MATRL_CD"	/>
		<result property="filmMatrlCd"		column="FILM_MATRL_CD"		/>
		<result property="alnicuMatrlNm"	column="ALNICU_MATRL_NM"	/>
		<result property="filmMatrlNm"		column="FILM_MATRL_NM"		/>
		<result property="gubunNm"			column="GUBUN_NM"			/>
		<result property="chamferYnNm"		column="CHAMFER_YN_NM"		/>				
		<result property="gravity"			column="GRAVITY"			/>
		<result property="dealCorpCd"		column="DEAL_CORP_CD"		/>
		<result property="dealCorpNm"		column="DEAL_CORP_Nm"		/>		
		<result property="tmUnitCd"			column="TM_UNIT_CD"			/>
		<result property="tmUnitNm"			column="TM_UNIT_NM"			/>		
		<result property="packUnitCd"		column="PACK_UNIT_CD"		/>
		<result property="packUnitNm"		column="PACK_UNIT_NM"		/>		
		<result property="etc1"				column="ETC1"				/>		
		<result property="goodsDesc"		column="GOODS_DESC"			/>
		<result property="statusYnCd"		column="STATUS_YN_CD"		/>
		<result property="statusYnNm"		column="STATUS_YN_NM"		/>					
		<result property="regId"			column="REG_ID"				/>
		<result property="regDate"			column="REG_DATE"			/>
		<result property="updId"			column="UPD_ID"				/>
		<result property="updDate"			column="UPD_DATE"			/>
	</resultMap>
	
	
	<!-- 시스템공통그룹 전체조회 -->
	<select id="listAll" resultMap="GoodsCodeAdmVo">
			SELECT	
				GOODS_CD
				,GOODS_NM
				,MODEL
				,MODEL_NO
				,ALNICU_MATRL_CD
				,FILM_MATRL_CD
				,(SELECT MATRL_NM FROM TB_MATRL_CODE_ADM B WHERE B.MATRL_CD = A.ALNICU_MATRL_CD) ALNICU_MATRL_NM
				,(SELECT MATRL_NM FROM TB_MATRL_CODE_ADM B WHERE B.MATRL_CD = A.FILM_MATRL_CD) FILM_MATRL_NM
				,(SELECT BASE_CD_NM FROM TB_MATRL_CODE_ADM B, TB_SYSTEM_COMMON_CODE C  
				    WHERE B.MATRL_CD = A.ALNICU_MATRL_CD 
				    	AND C.BASE_GROUP_CD = '002' AND B.GUBUN_CD = C.BASE_CD) GUBUN_NM	
				,(SELECT BASE_CD_NM FROM TB_MATRL_CODE_ADM B, TB_SYSTEM_COMMON_CODE C  
				    WHERE B.MATRL_CD = A.ALNICU_MATRL_CD 
				    	AND C.BASE_GROUP_CD = '003' AND B.CHAMFER_YN_CD = C.BASE_CD) CHAMFER_YN_NM
				,GRAVITY    								
				,DEAL_CORP_CD
				,(SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM B WHERE B.DEAL_CORP_CD = A.DEAL_CORP_CD) DEAL_CORP_NM
				,TM_UNIT_CD
				,(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='006' AND B.BASE_CD = A.TM_UNIT_CD) TM_UNIT_NM
				,PACK_UNIT_CD
				,(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='006' AND B.BASE_CD = A.PACK_UNIT_CD) PACK_UNIT_NM
				,ETC1
				,GOODS_DESC
				,STATUS_YN_CD
				,(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='007' AND B.BASE_CD = A.STATUS_YN_CD) STATUS_YN_NM
				,REG_ID
				,REG_DATE
				,UPD_ID
				,UPD_DATE
			FROM TB_GOODS_CODE_ADM A
	</select>
	
	
	<select id="read" resultMap="GoodsCodeAdmVo">
			SELECT	
				GOODS_CD
				,GOODS_NM
				,MODEL
				,MODEL_NO
				,ALNICU_MATRL_CD
				,FILM_MATRL_CD
				,(SELECT MATRL_NM FROM TB_MATRL_CODE_ADM B WHERE B.MATRL_CD = A.ALNICU_MATRL_CD) ALNICU_MATRL_NM
				,(SELECT MATRL_NM FROM TB_MATRL_CODE_ADM B WHERE B.MATRL_CD = A.FILM_MATRL_CD) FILM_MATRL_NM
				,(SELECT BASE_CD_NM FROM TB_MATRL_CODE_ADM B, TB_SYSTEM_COMMON_CODE C  
				    WHERE B.MATRL_CD = A.ALNICU_MATRL_CD 
				    	AND C.BASE_GROUP_CD = '002' AND B.GUBUN_CD = C.BASE_CD) GUBUN_NM	
				,(SELECT BASE_CD_NM FROM TB_MATRL_CODE_ADM B, TB_SYSTEM_COMMON_CODE C  
				    WHERE B.MATRL_CD = A.ALNICU_MATRL_CD 
				    	AND C.BASE_GROUP_CD = '003' AND B.CHAMFER_YN_CD = C.BASE_CD) CHAMFER_YN_NM
				,GRAVITY    								
				,DEAL_CORP_CD
				,(SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM B WHERE B.DEAL_CORP_CD = A.DEAL_CORP_CD) DEAL_CORP_NM
				,TM_UNIT_CD
				,(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='006' AND B.BASE_CD = A.TM_UNIT_CD) TM_UNIT_NM
				,PACK_UNIT_CD
				,(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='006' AND B.BASE_CD = A.PACK_UNIT_CD) PACK_UNIT_NM
				,ETC1
				,GOODS_DESC
				,STATUS_YN_CD
				,(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='007' AND B.BASE_CD = A.STATUS_YN_CD) STATUS_YN_NM
				,REG_ID
				,REG_DATE
				,UPD_ID
				,UPD_DATE
			FROM TB_GOODS_CODE_ADM A
			WHERE A.GOODS_CD = #{goodsCd}
	</select>
	
	<select id="selectGoodsSeqCd" resultType="String">
		SELECT ISNULL(RIGHT('00000' + CAST(MAX(SUBSTRING(GOODS_CD,2,6))+1 AS NVARCHAR),5), '00001') FROM TB_GOODS_CODE_ADM
	</select>
		
	<insert id="create" parameterType="mes.domain.bm.GoodsCodeAdmVo">
		INSERT INTO TB_GOODS_CODE_ADM(
			GOODS_CD
			,GOODS_NM
			,MODEL
			,MODEL_NO
			,ALNICU_MATRL_CD
			,FILM_MATRL_CD
			,GRAVITY
			,DEAL_CORP_CD
			,TM_UNIT_CD
			,PACK_UNIT_CD
			,ETC1
			,GOODS_DESC
			,STATUS_YN_CD
			,REG_ID
			,REG_DATE
		) VALUES (
			#{goodsCd}
			,#{goodsNm}
			,#{model}
			,#{modelNo}
			,#{alnicuMatrlCd}
			,#{filmMatrlCd}
			,#{gravity}
			,#{dealCorpCd}
			,#{tmUnitCd}
			,#{packUnitCd}
			,#{etc1}
			,#{goodsDesc}
			,#{statusYnCd}
			,#{regId}
			,getDate()
		)
	</insert>
	
	<update id="update" parameterType="mes.domain.bm.GoodsCodeAdmVo">
		UPDATE	TB_GOODS_CODE_ADM 
		SET	
			GOODS_NM = #{goodsNm}
			,MODEL = #{model}
			,MODEL_NO = #{modelNo}
			,ALNICU_MATRL_CD = #{alnicuMatrlCd}
			,FILM_MATRL_CD = #{filmMatrlCd}
			,GRAVITY = #{gravity}
			,DEAL_CORP_CD = #{dealCorpCd}
			,TM_UNIT_CD = #{tmUnitCd}
			,PACK_UNIT_CD = #{packUnitCd}
			,ETC1 = #{etc1}
			,GOODS_DESC = #{goodsDesc}
			,STATUS_YN_CD = #{statusYnCd}
			,UPD_ID = #{updId}
			,UPD_DATE = getDate()
		WHERE	GOODS_CD = #{goodsCd}
	</update>
	
</mapper>
