<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.bm.matrlCodeAdmMapper">

<resultMap id="MatrlCodeAdmVo" type="mes.domain.bm.MatrlCodeAdmVo">
		<result property="matrlCd"			column="MATRL_CD"			/>
		<result property="matrlNm"			column="MATRL_NM"			/>
		<result property="matrlInitial"		column="MATRL_INITIAL"		/>
		<result property="qutyCd"			column="QUTY_CD"			/>
		<result property="qutyNm"			column="QUTY_NM"			/>		
		<result property="thickness"		column="THICKNESS"			/>
		<result property="depth"			column="DEPTH"				/>
		<result property="length"			column="LENGTH"				/>
		<result property="width"			column="WIDTH"				/>
		<result property="pitch"			column="PITCH"				/>
		<result property="gubunCd"			column="GUBUN_CD"			/>
		<result property="gubunNm"			column="GUBUN_NM"			/>		
		<result property="chamferYnCd"		column="CHAMFER_YN_CD"		/>
		<result property="chamferYnNm"		column="CHAMFER_YN_NM"		/>
		<result property="surfaceTrtmtCd"	column="SURFACE_TRTMT_CD"	/>
		<result property="surfaceTrtmtNm"	column="SURFACE_TRTMT_NM"	/>				
		<result property="productUnitCd"	column="PRODUCT_UNIT_CD"	/>
		<result property="productUnitNm"	column="PRODUCT_UNIT_NM"	/>		
		<result property="tmUnitCd"			column="TM_UNIT_CD"			/>
		<result property="tmUnitNm"			column="TM_UNIT_NM"			/>		
		<result property="dealCorpCd"		column="DEAL_CORP_CD"		/>
		<result property="dealCorpCdNm"		column="DEAL_CORP_CD_NM"	/>		
		<result property="lifeCycle"		column="LIFE_CYCLE"			/>
		<result property="etc1"				column="ETC1"				/>
		<result property="etc2"				column="ETC2"				/>
		<result property="statusYnCd"		column="STATUS_YN_CD"		/>
		<result property="statusYnNm"		column="STATUS_YN_NM"		/>		
		<result property="matrlDesc"		column="MATRL_DESC"			/>
		<result property="regId"			column="REG_ID"				/>
		<result property="regDate"			column="REG_DATE"			/>
		<result property="updId"			column="UPD_ID"				/>
		<result property="updDate"			column="UPD_DATE"			/>
			
			
</resultMap>


	<select id="listAll" resultMap="MatrlCodeAdmVo">
  		SELECT	MATRL_CD
			,MATRL_NM
			,MATRL_INITIAL
			,QUTY_CD
			,(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='001' AND B.BASE_CD = A.QUTY_CD) QUTY_NM
			,THICKNESS
			,DEPTH
			,LENGTH
			,WIDTH
			,PITCH
			,GUBUN_CD
			,(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='002' AND B.BASE_CD = A.GUBUN_CD) GUBUN_NM
			,CHAMFER_YN_CD
			,(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='003' AND B.BASE_CD = A.CHAMFER_YN_CD) CHAMFER_YN_NM
			,SURFACE_TRTMT_CD
			,(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='004' AND B.BASE_CD = A.SURFACE_TRTMT_CD) SURFACE_TRTMT_NM
			,PRODUCT_UNIT_CD
			,(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='005' AND B.BASE_CD = A.PRODUCT_UNIT_CD) PRODUCT_UNIT_NM
			,TM_UNIT_CD
			,(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='006' AND B.BASE_CD = A.TM_UNIT_CD) TM_UNIT_NM
			,DEAL_CORP_CD
			,(SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM B WHERE B.DEAL_CORP_CD = A.DEAL_CORP_CD) DEAL_CORP_NM
			,LIFE_CYCLE
			,ETC1
			,ETC2
			,STATUS_YN_CD
			,(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='007' AND B.BASE_CD = A.STATUS_YN_CD) STATUS_YN_NM
			,MATRL_DESC
			,REG_ID
			,REG_DATE
			,UPD_ID
			,UPD_DATE
		FROM TB_MATRL_CODE_ADM A
	</select>
	
	<select id="read" resultMap="MatrlCodeAdmVo">
  		SELECT	MATRL_CD
			,MATRL_NM
			,MATRL_INITIAL
			,QUTY_CD
			,(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='001' AND B.BASE_CD = A.QUTY_CD) QUTY_NM
			,THICKNESS
			,DEPTH
			,LENGTH
			,WIDTH
			,PITCH
			,GUBUN_CD
			,(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='002' AND B.BASE_CD = A.GUBUN_CD) GUBUN_NM
			,CHAMFER_YN_CD
			,(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='003' AND B.BASE_CD = A.CHAMFER_YN_CD) CHAMFER_YN_NM
			,SURFACE_TRTMT_CD
			,(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='004' AND B.BASE_CD = A.SURFACE_TRTMT_CD) SURFACE_TRTMT_NM
			,PRODUCT_UNIT_CD
			,(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='005' AND B.BASE_CD = A.PRODUCT_UNIT_CD) PRODUCT_UNIT_NM
			,TM_UNIT_CD
			,(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='006' AND B.BASE_CD = A.TM_UNIT_CD) TM_UNIT_NM
			,DEAL_CORP_CD
			,(SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM B WHERE B.DEAL_CORP_CD = A.DEAL_CORP_CD) DEAL_CORP_NM
			,LIFE_CYCLE
			,ETC1
			,ETC2
			,STATUS_YN_CD
			,(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE B WHERE B.BASE_GROUP_CD='007' AND B.BASE_CD = A.STATUS_YN_CD) STATUS_YN_NM
			,MATRL_DESC
			,REG_ID
			,REG_DATE
			,UPD_ID
			,UPD_DATE
		FROM TB_MATRL_CODE_ADM A
		WHERE A.MATRL_CD = #{matrlCd}
			
	</select>

	<select id="selectMatrlSeqCd" resultType="String">
		SELECT ISNULL(RIGHT('00000' + CAST(MAX(SUBSTRING(MATRL_CD,2,6))+1 AS NVARCHAR),5), '00001') FROM TB_MATRL_CODE_ADM
	</select>	
		
	<insert id="create">
		INSERT INTO TB_MATRL_CODE_ADM(
			MATRL_CD
			,MATRL_NM
			,MATRL_INITIAL
			,QUTY_CD
			,THICKNESS
			,DEPTH
			,LENGTH
			,WIDTH
			,PITCH
			,GUBUN_CD
			,CHAMFER_YN_CD
			,SURFACE_TRTMT_CD
			,PRODUCT_UNIT_CD
			,TM_UNIT_CD
			,DEAL_CORP_CD
			,LIFE_CYCLE
			,ETC1
			,ETC2
			,STATUS_YN_CD
			,MATRL_DESC
			,REG_ID
			,REG_DATE
		) VALUES (
			#{matrlCd}
			,#{matrlNm}
			,#{matrlInitial}
			,#{qutyCd}
			,#{thickness}
			,#{depth}
			,#{length}
			,#{width}
			,#{pitch}
			,#{gubunCd}
			,#{chamferYnCd}
			,#{surfaceTrtmtCd}
			,#{productUnitCd}
			,#{tmUnitCd}
			,#{dealCorpCd}
			,#{lifeCycle}
			,#{etc1}
			,#{etc2}
			,#{statusYnCd}
			,#{matrlDesc}
			,#{regId}
			,getDate()
		)		
		
	</insert>
	
		
	<select id="update">
		UPDATE	TB_MATRL_CODE_ADM 
		SET	
			MATRL_CD = #{matrlCd}
			,MATRL_NM = #{matrlNm}
			,MATRL_INITIAL = #{matrlInitial}
			,QUTY_CD = #{qutyCd}
			,THICKNESS = #{thickness}
			,DEPTH = #{depth}
			,LENGTH = #{length}
			,WIDTH = #{width}
			,PITCH = #{pitch}
			,GUBUN_CD = #{gubunCd}
			,CHAMFER_YN_CD = #{chamferYnCd}
			,SURFACE_TRTMT_CD = #{surfaceTrtmtCd}
			,PRODUCT_UNIT_CD = #{productUnitCd}
			,TM_UNIT_CD = #{tmUnitCd}
			,DEAL_CORP_CD = #{dealCorpCd}
			,LIFE_CYCLE = #{lifeCycle}
			,ETC1 = #{etc1}
			,ETC2 = #{etc2}
			,STATUS_YN_CD = #{statusYnCd}
			,MATRL_DESC = #{matrlDesc}
			,UPD_ID = #{updId}
			,UPD_DATE = getDate()
		WHERE	MATRL_CD = #{matrlCd}
	</select>
	
	
</mapper>
