@charset "utf-8";
/* CSS Document */

a:link{color: #333;}
a:visited{color: #333;}
a:hover{color: #000;}

body{ font-family: Arial,sans-serif,나눔고딕, 맑은고딕,나눔 고딕,맑은 고딕,돋움  }
*{margin:0; padding:0;}


header{width:100%; height:100%;  background-color: #fff; }
nav { width:100%; height:380px; background: #ece2e2; position:absolute; z-index:99990;
 font-size: 0.9vw; padding: 0 30px; overflow: hidden;}
nav a{color: gray; } 
nav img{position: absolute; bottom: 2%; width: 100%;}

nav .inner_nav{width: 80%; height: 100%; position: absolute; left: 20%;margin-top:2%;
 }
.inner_nav .clo{float: left; height: 300px; border-right: 1px solid #ccc; line-height: 26px;} 

.inner_nav .clo:last-child{border: none;}
.inner_nav .clo a:hover{color: #612f21;}
.inner_nav .clo h3{padding-bottom: 10px; font-weight: normal; font-size: 1.2vw;}
.inner_nav .clo:nth-child(4){width:20% ;}

/*
.ex{width: 100%; height: 100%; background: teal; position: relative; }
.inner_ex{}
.ex div{float: left; margin: 0 30px; }
.ex_1{width: 300px; height: 300px;background-color: green;display: none; }
.ex_2{width: 300px; height: 300px; background-color: salmon;display: none;}
.ex_3{width: 300px; height: 300px; background-color: pink;display: none;}

.ex ul{  top: 30%; left: 30%;  text-align: center;}
.ex li{  display: inline-block;background-color: #ccc; padding: 50px 100px; margin: 0 30px;}
*/


.sld{ width:100%; height:100%; max-width:1920px; overflow:hidden; border-bottom:solid 0px #ccc; margin:auto;
	background-color: #fff;position: relative;}

.gallery{width: 100%; display: block;}
.gallery_r{display: none;}
.page_a{width: 100%; height: 100%; }
.page_a li{display: block; opacity: 0; }
.page_a li:firsr-child{width: 100%; height: 100%; }
.page_a li:firsr-child{z-index: -9999;}
.page_a li:nth-child(2){position:absolute; top: 25%; left: 5%; width: 10%;}
.page_a li:nth-child(3){position:absolute; top: 63%; left: 15%; width: 15%;}
.page_a li:nth-child(4){position:absolute; top:  0%; left: 30%; width: 6%;}
.page_a li:nth-child(5){position:absolute; top:  0%; left: 80%; width: 9%;}
.page_a li:nth-child(6){position:absolute; top: 23%; left: 54%; z-index: 99; width: 18%;}
.page_a li:nth-child(7){position:absolute; top: 70%; left: 85%; width: 10%;}
.page_a li:nth-child(8){position:absolute; top: 50%; left: 50%; margin-left: -260px; margin-top: -70px; width: 25%;}





/*
.photo_a{width:100%; height:100%;  background:url(../images/main_img02.jpg); background-size:cover; 
                background-position:center; position:relative;}/*백글라운드말고 img태그로 html에 쓰기
.photo{width:100%; height:100%;  background:url(../images/untitled.png); background-size:cover; background-position:center;
              position:relative; }
*/
/*
.slider .intro h2{ font-size:2.8em; position:absolute; left:20px; top:30%; line-height:70px;}
.slider .intro h2 span{ font-size:0.4em; font-weight:100; color:#669; display:block; line-height:15px; width:50%;}
.slider img{width: 100%;}
.slider .intro .inner{ height:100%;}

.slider .intro h2 span{ width:50%;}
*/

.container{width:100%;height: 100; background-color: #fff;}
footer{width:100%; }

.inner{ width:960px; margin:auto; position:relative;}

/*-----------------------------modal------------------------------------------------------*/

.banner{ width: 100%; height: 100%;    position:relative; z-index:99998;}
.banner img{width: 50%;}
.banner .close{ display:block; width:150px; line-height:25px; position:absolute; right:5px; bottom:5px;}

.sns {width:40px; height:160px;  position:absolute; right:20px; top:20px; z-index:100;}
.widgets {width:300px; height:300px; border: solid 1px #ccc; background:#ece2e2; position:fixed; bottom:20px; right:20px;z-index:99995; animation:wid linear 0.3s;}

@keyframes wid{
 0%{opacity:0; right:-300px;}
 100%{opacity:1; right:20px;}
 }								
								
/*-----------------------------header----------------------------------------------------*/								
								
.smenu{ width:100%;  text-align:right; color:#FFF; padding: 0 100px;  }
.smenu a{color:#9e9e9e; font-size:1vw; padding:0 10px;line-height:30px;}

.smenu .lang{width:60px; position:absolute; top:30px; right:0px; background:#060; }
.smenu .lang a{display:block; line-height:25px; text-align:center; z-index:100;}

.logo{position: relative; width:12%; }
.logo img{width: 70%; margin: 20px 40px;}


.nav{  width: 100%; height:50px; text-align: center; }

.nav a{ display:inline-block; padding: 0 40px; line-height:50px; font-size:1.0vw; }

.m_nav{ width: 100%; display:none;}/*------------모바일메뉴---------------*/

/*-----------------------------기타 모달 관련 css----------------------------------------*/	

#member{ width:100%; height:100%; position:fixed; background:rgba(0,0,0,0.5); z-index:99999; display:none;}

@keyframes mem{
 0%{opacity:0; top:0;}
 100%{opacity:1; top:50%;}
 }
.form_join{ animation: mem linear 0.3s; width:460px; height:300px; background:#FFF; left:50%; top:50%; margin:-150px 0 0 -230px; position: absolute;font-size:1.6em;}
.close_m{ width:40px; height:40px; display:inline-block; float:right; line-height:40px; text-align:center; }

#login{ width:100%; height:100%; position:fixed; background:rgba(0,0,0,0.5); z-index:99999; display:none;}
.form_login{ animation: mem linear 0.3s; width:300px; height:420px; background:#FFF; left:50%; top:50%; margin:-210px 0 0 -150px; position: absolute;font-size:1.6em;}
.close_l{ position:absolute; top:5px; right:5px; width:40px; height:40px; display:inline-block; float:right; line-height:40px; text-align:center; }

/*------------------------------------footer-----------------------------------------------*/

.down{ width:100%; background:#FCC;}
.down p{ line-height:100px; font-size:1.8em; color:#666; text-align:center;}
.down span{ display:inline-block; width:120px; color:#635293; background:#969; line-height:40px; border-radius:20px;
 transition:all ease-in-out 0.3s; cursor:pointer;}
.down span:hover{ background: #96C; color: #FCC; font-weight: bold;}


.adress{ width:100%; background:#e9dbc8; text-align:center;}
.adress .f_box{ width:300px; display:inline-block; margin:20px 0; vertical-align:top;}


.f_box li{ font-size:1.2vw; color:#666; text-align:center; line-height:1.4vw; text-transform:capitalize;}/*앞에문자가 대문자로 바뀜*/
.f_box li:first-child{ font-size:1.2vw; line-height:1.4em; }
.f_box li:last-child{margin: 0;}
.f_box li a{ display:inline-block; width:40px; height:40px; border: 1px solid #ffb514; border-radius:50%;
             line-height:40px; margin: 3% 1%;}
.f_box a:first-child:hover{ color:#4db4f4;}
.f_box a:nth-child(2):hover{ color:#e5204f;}
.f_box a:nth-child(3):hover{ color:#157dd1;}
.f_box a:last-child:hover{ color:#F00;}




.copyright{ width:100%; background:#e9dbc8; text-align:center;}
.copyright span{ color: #333; font-size:1em; line-height:50px; border-top:1px solid #b49c7a; padding-top: 1%; }


/*----------------------------------로그인----------------------------------------*/

.t_header{ width:100%; background: #639; text-align:center; padding:10px 0;}
input[type=text]{ width:100%; line-height:30px; border:none; background: #CCC; text-indent:40px;}
input[type=password]{ width:100%; line-height:30px; border:none; background: #CCC; text-indent:40px;}
input[type=submit]{ width:95%; margin: 10px 2.5%; line-height:30px; border:none; background: #FCF;}

.loginform{font-size:0.7em;}
.loginform label{ width:95%; margin:10px auto; display:block; }
.loginform  .forget{ color: #603; margin-right:2.5%; float:right;  }
.loginform i{ position:absolute; line-height:30px; left:15px; color:#60F;}

.sns_login{ width:95%; margin:20px auto; border-top:1px dashed #3300FF; text-align:center;}
.sns_login a{ width:50px; height:50px; display:inline-block; margin:10px; border: 0px solid #63C;}
.sns_login a:hover{cursor:pointer;}


/*--------------------------------container 박스들---------------------------------------


-----*/


.obj02 {position:absolute; top:50%!important; left:-1%;  z-index: 99999;}
.obj02 img{width: 150%;}

.obj03 p{width: 40%; position: absolute;  font-size: 1.5em;   background-color: #f0a5cd;
 text-align: center; left: 45%; padding: 5%;}
.obj03 p a{color: #fff;}
.obj03 { position:absolute; top:27%!important; right:4%;  z-index: 10; 
        display: none; }
.obj03 img{width: 100%;}



.container{width: 100%; height: 100%;position: relative;text-align: center; }

.mini_ba{}
.mini_ba li{  display: inline-block;}
.slider span{position: absolute; left: 50%; top: 50%;}

.mini_ba li:first-child{width: 30%;margin: 10% 0;}
.mini_ba li:nth-child(2){position: absolute;width: 25%; margin-top: 10%; }
.mini_ba li:nth-child(2) img{width: 75%; height: 75%;}
.mini_ba li:last-child{width: 25%; }
.mini_ba li:last-child img{width: 75%; height: 75%;}

/*---------------------------------------------------------------------------------------*/
.container_2{width: 50%; height: 50%;position: relative;text-align: center; display: none;}

.mini_ba_2{width: 100%; height: 100%;}
.mini_ba_2 li{ display: inline-block;}
.slider span{position: absolute; left: 50%; top: 50%;}

.mini_ba_2 li:first-child{width: 50%;margin: 10% 0;}
.mini_ba_2 li:nth-child(2){position: absolute;width: 40%; margin-top: 10%; }
.mini_ba_2 li:nth-child(2) img{width: 75%; height: 75%;}
.mini_ba_2 li:last-child{width: 40%; }
.mini_ba_2 li:last-child img{width: 75%; height: 75%;}

.overflow{overflow: hidden;}
.size{width: 50%; height: 50%; transition: all ease 1s;}

.overflow img:hover{transform: scale(1.2, 1.2);}


.slider{ color: #720d0d; }
.slider:first-child span{position: absolute; left: 28%; top: 17%;font-size: 1.8vw; }
.slider:first-child p{position: absolute; left: 30%; top:31%;font-size: 1.3vw;}
/*

.mini_ba{width: 90%; height: 90%; display: inline-block;vertical-align:top; overflow: auto; padding: 50px 0;
        background-color: #fff;}


.yum{width: 100%; height: 100%; text-align: center;}

 .slider img{width: 70%; margin: 20px auto;}

.mini_ba li{width: 50%;float: left; }

.spring img{width: 44%;}
.spring{width: 90%;padding-bottom: 10px; padding-left: 3%;margin-top: 10px;}
/*---------------------안씀--------------------------------------------------------------------
.spring p{width: 50%;height: 100%; background-color: #ffb514;padding: 100px 50px; font-size: 2.2vh;
 line-height: 50px;text-align: center;}
.spring{width: 50%;height: 50%;float: left;text-align: center; padding: 1% 0;}
----------------------안씀-----------------------------------------------------------------------
.drink{width: 90%;margin-top:30px; padding-left: 3%; }
.drink img{width: 44%}


*/


/*--------------------------------container 박스들-------------------------------------------*/
/*


.dabang{height:100vh; width: 100%; z-index:-999;}
.cov{position: fixed; width:100%;  height: 100%;top:0px;z-index:-999;}
.dabang video{height: 100%; margin:auto;display:block;}
*/


.dabang{ height: 900px;position: relative; z-index: -999;}
.dabang video{width: 100%; height: 100%;z-index: -999;position: fixed;top: 0;background-color: #fff;}
.cov{ z-index: -999;}





.icon_menu{ width:100%; position:relative; overflow:hidden; padding: 10% 0; background-color: #fff;}
.icon_menu li{ display: inline-block; padding: 3%; position: relative;}
.inner_3{width: 80%; margin: 0 auto;}
.inner_3 li img{ width: 100%; display: block;}


/*.inner_3 li img:hover{opacity: 0.5; transition: all ease-in-out 0.3s; }*/
.inner_3 li:hover span{ opacity: 1; z-index: 999; transition: all ease-in-out 0.3s; }
.inner_3 li:hover img{opacity: 0.5; transition: all ease-in-out 0.3s;}
.inner_3 li span{position: absolute; text-align: center; display: inline-block; width: 100%; left: 50%; top: 50%;
                 transform: translate(-50%,-50%);font-size: 2vw; color: #fd9a19; line-height: 35px;
                  font-weight: bold;opacity: 0; text-shadow: 2px 2px 5px #6e4402;}
               /*이미지의 중심점을 가운데로*/
.icon_menu h2{text-align: center; color: #ffb514; font-size: 3.2vh; padding: 0.5% 0;}
.icon_menu h2 a{text-align: center;width: 100%; border: 1px solid #ccc; border-radius: 10px; font-size: 0.5em; padding: 0.5%;
	color: #ccc; transition: all ease-in-out 0.3s;}
.icon_menu h2 a:hover{ background: #fbcb63; color: #fff; font-weight: bold; border: none;}






.bg_g{ width:100%; height: 100%; background: #e9dbc8; position:relative; overflow:hidden;}
.bg_g h1{text-align: center; margin: 100px 0 0 0;}
.cont{width: 70%; height: 100%;  margin: 10px auto; position: relative;}

.cont_new1{width:50% ; position: relative;padding: 50px 0; left: 15%;}
.cont_new1 dt{font-size: 2.5vw;padding: 20px 0; line-height: 50px; }
.cont_new1 dd img{ position: relative;width: 50%; left: 0;}
.cont_new1 dd{width: 100%; font-size: 1vw;padding: 10px 0;line-height: 30px; }
.cont_new1 p{text-align: center;font-size: 1vw;padding: 8px; border-radius: 3px; width:19%;
                              border: 1px solid #999; color: #999;transition: all ease-in-out 0.3s;}
.cont_new1 p:hover{ background: #fbcb63; color: #fff; font-weight: bold; border: 1px solid #fbcb63;
                    cursor:pointer;}


.icon_menu .title{ font-size:5vh; text-align:center; text-transform:uppercase; color: #ffb514;}
.icon_menu .title span{ font-size:0.4em; color:#666; display:block; font-weight:100; line-height: 30px;}


.cont img{ position: absolute;  top: 25%; width: 90%;}


.ku{right: -100%;}
.cont_new1{left: -100%}









.menu_list{ width:100%;height: 100%; position:relative; background: #fff; overflow:auto;
           }
.menu_list p{position: absolute; width: 100%; height: 100%;}
.menu_list p img{position: absolute; width: 100%; height: 100%;}



.mark{ text-align: center;width:100%; position:absolute; top: 94%;}
.mark img{ width: 10%;}

.inner_li{ width:100%;height: 100%; margin:auto; border:solid 0px #5e428c;
 position:relative; background-color: rgba(0,0,0,0.5);}

.menu_list li{   margin:2%; margin-left: 8%;}
.inner_li img{position: absolute;left: 50%; width: 40%; top: 24%;}

.menu_list .cf_text{width: 100%; height: 100%; padding: 11% 0;}

.menu_list .cf_text li:first-child{width: 30%; font-size: 9vw; position: relative;
                                   left: -50%; color: #ffb514;}
.menu_list .cf_text li:nth-child(2){font-size: 1.5vw;width: 25%; position: relative;
                                    left: -50%; line-height: 30px; color: #fff;}
.menu_list .cf_text li:nth-child(3){color: #fff; font-size: 1.2vw;width: 28%; position: relative; left: -50%; line-height: 25px;}
.menu_list .cf_text li:last-child{font-size: 1vw;padding: 9px; border-radius: 3px; width:9%;
                              border: 1px solid #999; color: #999; text-align: center; position: relative; left: -50%;}

.menu_list .cf_text li:last-child:hover{ background: #fbcb63; color: #fff; font-weight: bold;
                          border: 1px solid #fbcb63;cursor:pointer;}



.menu_list .title{ font-size:2.8em; text-align:center; text-transform:uppercase; color: #69C; padding:0 0 70px 0;}
.menu_list .title span{ font-size:0.4em; color:#666; display:block; font-weight:100; line-height: 30px;}







/*=============================반응형 문서 스타일===============================*/

.wrap .doc_title{position: relative; left: -5%; font-size:1.2em; line-height:70px;color:#666; font-family:'NanumGothic';}
.doc_title h1{width: 50%; margin-bottom: 10%; position: absolute; left: 50%; padding-bottom: 1%;
             font-size: 2vw; border-bottom: 2px solid #666; }
.doc_title h5{position: absolute; right: 41%; margin-top: 2.8%;}
.main_text{width: 50%; position: absolute;left: 45%; top:50%; font-size: 1.4vw;
 line-height: 30px;}
.main_textb{width: 50%; position: absolute;left: 45%; top:65%; font-size: 1.2vw;
 line-height: 20px;}


.doc_title span{position: absolute; right: 0; font-size: 1vw;}

.doc_header h1{ font-size:2em; color: #999; line-height:50px; }
.doc_header span{ font-size:1em; color: #333; display:inline-block; float:right;}

.doc_content{padding: 10px 0;}

.doc_sns{ text-align:center; padding:40px 0;}
.doc_sns li{ width:40px; height:40px; background:#F96; border-radius:50%; display:inline-block;}



[class*="col-"]{ padding:10px; border: 0px solid #FC9; }
 /*속성선택자,  모든(*) class중에 col-1인것을 찾아라*/

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*-----------------서브페이지text 1.모카골드 페이지------------------*/

.col-10{ position: relative;  margin: 10% auto;}



.sub_menu{width: 100%; line-height: 35px; font-size:1.2em; }
.sub_menu h5{font-size: 0.9em; font-weight: bold;border-bottom:  2px solid orange;
 line-height: 50px}
.sub_menu li{ height: 100%; position: relative;  float: left; margin: 1%; text-align: center;}
.sub_menu ul{width: 100%;height: 100%; position: relative;}

.doc_content{text-align: center; margin: 2% 0;}


.num_1 img{animation:moon linear infinite 2s; position:absolute;  width:100%; left: -10%; }
.num_1 p{width: 5%; height:2%; position: absolute;margin-top: -1%;}

@keyframes moon{
  0%{transform: rotate(15deg); transform-origin: center;}
  50%{transform: rotate(0deg); transform-origin: center;}
  100%{transform: rotate(15deg); transform-origin: center;}
 }

/*------------------------



----------------------*/











